@font-face{
    src: url(../fonts/Stellar-FreeForPersonalUse/Stellar-light.otf);
    font-family: stellar-light;
}

body{
    margin:0;
    font-weight: lighter;
    font-family: stellar-light,sans-serif;
    color: white;
    background-color: rgb(3, 1, 24);
}

