.Astronaut-Record{
display: grid;
grid-template-columns: 1fr 7fr;
margin: 10px;
background-color: rgba(255, 255, 255, 0.8);
color: black;
border-radius: 5px;
padding: 5px 15px;
padding-top: 10px;

    &__Name{

    font-weight: 600;
    font-size: 1.1em;    
    }

    &__Date-Of-Birth{
        color: rgb(79, 92, 117);
    }

    &__Hr{
        border: 0;
        width: 100%;               
        background-color:rgba(0, 0, 0, 0.411);
        height: 1px;
    }

}